
@{
    ViewData["Title"] = "Index";
}


<div>
    <h1>Index role @User administrating</h1>
    <a asp-action="EditUsersInRole" asp-controller="Admin" class="btn-primary btn" style="width:auto"> edit user</a>
     



</div>

