@*@model IEnumerable<IdentityRole>*@

@{
    ViewBag.Title = "all rolse";
}

<h1>All Roles </h1>


@if(Model.Any()){


}
else{
    <div>
        <h3>no roles yet</h3>
<div>
    <a class="btn-primary btn" style="width:auto" asp-controller="admin" asp-action="CreateRole">
        Create Role
    </a>


</div>
    </div>

}